/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */


/* Styles for the body */

.body {
	font: 'Raleway', sans-serif;
	color: #202030;

}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #C29028;
	color: white;
}

.resume-main {
	background-color: #94CDDA;
}

.resume-aside {
	background-color: #D8AA72
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.bla {
	font-family: 'Tiro Devanagari Marathi', serif;
	color: #202030;
	}
